{{ define "main" }}
    <main>
        <section class="section-welcome">
            <div class="row u-margin-bottom-small">
                <h1 class="heading-primary--main">
                    Welcome, I’m Eduar. A software developer and creator.
                </h1>
            </div>
            <div class="row">
                <p class="section-welcome__me">
                    I’m the author of <a href="https://greatercommons.com/learn/aprende-a-programar-con-go-golang" class="section-welcome__link">Aprendiendo a programar con Go</a>; creator of software and online material that can help you learn something new.
                </p>
                <a href="/about" class="btn-text">Learn more &rarr;</a>
            </div>
        </section>
    </main>    
{{ end }}