.section-welcome {
    padding: 20rem 25rem;
    margin-top: -20vh;

    &__me {
        font-size: 2.4rem;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-dark-3;
            background-color: $color-white;
            border-bottom: 2px solid $color-primary;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            border-bottom: 0;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            transform: rotate(5deg) scale(1.3);
        }
    }
}