<!-- SECTION: CSS -->
{{ $inServerMode := .Site.IsServer }}
{{ $sass         := resources.Get "scss/main.scss" }}
{{ $sassIncludes := (slice "assets/dependencies") }}
{{ $cssTarget    := "css/styles.css" }}
{{ $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true "includePaths" $sassIncludes) (dict "targetPath" $cssTarget "includePaths" $sassIncludes "outputStyle" "compressed") }}

{{ if or ($inServerMode) (eq .Site.Params.env "LOCAL") }}

    {{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $css.Permalink | absURL }}" media="screen">

{{ else }}

    {{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink | absURL }}" integrity="{{ $css.Data.Integrity }}" media="screen">

{{ end }}

<link rel="stylesheet" href="/static/css/icon-font.css">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet" type="text/css">