<!-- SECTION: CSS -->
{{ $inServerMode := .Site.IsServer }}
{{ $sass         := resources.Get "scss/main.scss" }}
{{ $sassIncludes := (slice "assets/dependencies") }}
{{ $cssTarget    := "css/styles.css" }}
{{ $cssIcon      := resources.Get "css/icon-font.css" | resources.Fingerprint "sha256" }}
{{ $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true "includePaths" $sassIncludes) (dict "targetPath" $cssTarget "includePaths" $sassIncludes "outputStyle" "compressed") }}

{{ if or ($inServerMode) (eq .Site.Params.env "LOCAL") }}

    {{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $css.Permalink | absURL }}" media="screen">

{{ else }}

    {{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink | absURL }}" integrity="{{ $css.Data.Integrity }}" media="screen">

{{ end }}
{{ $icons := $cssIcon | resources.ExecuteAsTemplate "icon-font.css" . | fingerprint }}
<link rel="stylesheet" href="{{ $cssIcon.Permalink | absURL }}" integrity="{{ $cssIcon.Data.Integrity }}" media="screen">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Maven+Pro|Roboto+Slab" rel="stylesheet" type="text/css">