<footer class="footer">
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__social">
          <ul class="footer__list">
              <li class="footer__item"><a href="https://twitter.com/eduartua" class="footer__link">Twitter</a></li>
              <li class="footer__item"><a href="https://github.com/eduartua" class="footer__link">Github</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Youtube</a></li>
          </ul>
      </div>
    </div>

    <div class="col-1-of-2">
      <div class="footer__copyright">
        <p>
          &copy; 2017-18 Eduar Tua. <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons Attribution" class="footer__link">Some rights reserved</a>; please attribute properly and link back.</a>.
        </p>
      </div>
    </div>
  </div>
</footer>