<header class="header">
    <div class="row u-margin-bottom-zero">
        <div class="col-1-of-2">
            <span class="header__logo-text"><a href="/" class="header__logo-link">Eduar Tua</a></span>
        </div>
        <div class="col-1-of-2">
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="/" class="header__link">Home</a></li>
                    <li class="header__item"><a href="/about" class="header__link">About</a></li>
                    <li class="header__item"><a href="/work" class="header__link">Work </a></li>
                    <li class="header__item"><a href="/blog" class="header__link">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="header__img-box">
            <img src="images/undraw_coding_6mjf.svg" alt="Header image" class="header__img">
        </div>
    </div>
</header>