<div class="row">
    <div class="col-1-of-2">
        <span class="logo__text">Eduar Tua</span>
    </div>
    <div class="col-1-of-2">
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/home" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="/about" class="navigation__link">About</a></li>
                <li class="navigation__item"><a href="/work" class="navigation__link">Work </a></li>
                <li class="navigation__item"><a href="/blog" class="navigation__link">Blog</a></li>
            </ul>
        </nav>
    </div>
</div>