body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-4;

    h1 {
        font-family: 'Roboto Slab', serif;
        color: $color-grey-dark-3;
    }
}

.logo__text {
    font-family: 'Great Vibes', cursive;
}